SECRET_KEY=your_secure_django_secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=lms_backend
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_HOST=127.0.0.1
DB_PORT=3306

CORS_ALLOWED_ORIGINS=http://localhost:3000 # react url in device

# RAG / AI Assistant
RAG_CHROMA_PATH=./chroma_db
RAG_COLLECTION_NAME=lms_user_documents
RAG_OLLAMA_BASE_URL=http://localhost:11434 # ollama server url in device
RAG_LLM_MODEL=qwen2.5:3b #default
RAG_EMBED_MODEL=bge-m3:latest #default 